<div class="container-fluid home-container">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-light dummy_class">
      <div class="navbar-brand brand-name">fiksar
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynav">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link header-links">How it Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-links">Find a Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-links">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-links" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-links">
              <img src="../assets/language-material.png" height="14" style="margin:4px">ESP</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <div class="col img-fluid d-xl-block d-none">
      <img src="../assets/Bitmap.png">
      d
    </div> -->
  </div>
  <div class=" row align-items-center search-part">
    <div class="col">
      <h1 class="example">Find Reliable & verified</h1>
      <h1 class="example">Home Service Provider.</h1>
      <div class="input-group input-group-md search-box">
        <span class="input-group-text">
          <img src="../assets/Path.png" style=" height: 14px;">
        </span>
        <input type="text" style="height:55px" class="form-control" placeholder="What service you need">
        <div class="input-group-append" style="height:55px">
          <button class="input-group-text">
            <img src="../assets/Location.png" style=" height: 14px;">
          </button>
          <button class="btn btn-primary " type="button">Find Service</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center bottom-nav jumbotron-fluid fixed-bottom">
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/language-material.png" height="25" class="bott-nva-image">All Categories</a>
    </div>
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/home-interface.png" height="25" class="bott-nva-image">Home</a>
    </div>
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/ic-business-center-24px.png" height="25" class="bott-nva-image">Business</a>
    </div>
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/ic-camera-24px.png" height="25" class="bott-nva-image">Photography</a>
    </div>
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/ic-book-24px.png" height="25" class="bott-nva-image">Lesson</a>
    </div>
    <div class="col-ml bottom-elememt">
      <a class="">
        <img src="../assets/theater.png" height="25" class="bott-nva-image">Entertainment</a>
    </div>
  </div>
</div>